<template name="nav">
  <nav class="nav-main col-md-3">
    <a class="logo" href="{{ pathFor route='home' }}">
      <img src="/images/velocity_logo.svg" alt="Velocity">
    </a>
    <ul class="nav nav-stacked" style="{{navHeight}}">
      {{#each navItems}}
        <li class="{{ activeIfTemplateIs route }}">
          <a href="{{ pathFor route=route }}">
            {{#if icon}}
              <i class="fa fa-fw fa-{{icon}}"></i>
            {{/if}}
            {{title}}
          </a>
          {{#if children}}
            <ul>
              {{#each children}}
                <li class="{{ activeChild }}{{class}}">
                  <a href="{{ pathFor route=route hash=hash }}">
                    {{#if icon}}
                      <i class="fa fa-{{icon}}"></i>
                    {{/if}}
                    {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </nav>
  <div class="col-md-3"><!-- decoy --></div>
</template>
