.main {
  margin-top: 60px; /*space for fixed nav*/
}

.logo {
  text-align: center;
}

.logo img {
  width: 400px;
}

.logo h2 {
  font-size: 130%;
  margin-top: 0;
  margin-bottom: 40px;
}

.center {
  text-align: center;
}