<template name="ecosystem">

  <div class="container">
    <div class="content">

      <section class="content-header__centered">
        <h2>The Velocity Ecosystem</h2>
        <hr class="short">
      </section>

      <section class="feature-box">
        <div class="feature-box__wrap">
          
          <div class="feature-box__item">
            <img class="framework__logo" src="">
            <a href="#" class="btn--text btn--text__arrow">Visit Jasmine Guide</a>
          </div>

          <div class="feature-box__item">
            <img class="framework__logo" src="">
            <a href="#" class="btn--text btn--text__arrow">Visit Mocha Guide</a>
          </div>

          <div class="feature-box__item">
            <img class="framework__logo" src="">
            <a href="#" class="btn--text btn--text__arrow">Visit Cucumber Guide</a>
          </div>

          <div class="feature-box__item">
            <img class="framework__logo" src="">
            <a href="#" class="btn--text btn--text__arrow">Visit Casper Guide</a>
          </div>

        </div>
      </section>

      <section class="feature-text">
        <p>This an introduction text. It has a fixed size, and a custom line height, so you can experiment with it. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium.</p>
      </section>

    </div>
  </div>

</template>
