.site-footer {
  width: 100%;
  background: $grey;

  .img {
    width: 125px;
  }

  p {
    @include margin($base-spacing 0);
  }

  li {
    display: inline-block;

    img {
      width: 40px;
    }
  }
}

.site-footer__wrap {
  @include pad($base-spacing 0);
}

.site-footer__section {

  &.last {
    text-align: right;

    @include media($mobile) {
      text-align: left;
      @include margin($base-spacing 0 0 0);
    }
  }
}
