// Content area styles

.content-header,
.content-header__centered {
  @include pad(3em 0);
}

.content-header {
  text-align: left;
}

.content-header__centered {
  text-align: center;
}

.content-header__title {
  text-transform: capitalize;
}

.feature-box {
  @include pad($base-spacing 0);
  background: lighten($purple, 45%);
  border: 1px solid #DCDCDC;
  border-radius: 8px;
}

.feature-text {
  @include pad(3em 0);
  text-align: center;
}
