<template name="footer">

  <footer class="site-footer">
    <div class="container">
      <div class="content">
        <div class="site-footer__section last">
          <ul>
            <li><a href="https://atmospherejs.com/velocity/core"><img src="images/meteor.png"></a></li>
            <li><a href="https://github.com/meteor-velocity/velocity"><img src="images/github.png"></a></li>
          </ul>
          <p>© 2015 Velocity, MIT License</p>
        </div>
      </div>
    </div>
  </footer>

</template>
