<template name="footer">

  <footer class="site-footer">
    <div class="container">
      <div class="content">
        
        <div class="site-footer__wrap">
          <div class="site-footer__section">
            <p>The Velocity team uses:</p>
            <img src="images/codetree.png">
          </div>
          <div class="site-footer__section last">
            <ul>
              <li><a href=""><img src="images/meteor.png"></a></li>
              <li><a href=""><img src="images/github.png"></a></li>
            </ul>
            <p>© 2015 Velocity, MIT License</p>
          </div>
        </div>

      </div>
    </div>
  </footer>

</template>
