<template name="home">

  <!-- Intro section -->
  <div class="container">
    <div class="content">

      <section class="home-intro">
        <img src="/images/passing_tests.png" />
        <div class="home-intro__blurb">
          <p>Velocity is an ecosystem of testing tools for your Meteor app</p>
        </div>
      </section>
    </div>
  </div>

  <!-- Framework Nav -->
  {{> frameworkNav }}

  <!-- Framework sections -->
  {{> gettingStarted}}

  <!-- Footer -->
  {{> footer}}

</template>
