<template name="home">

  <!-- Intro section -->
  <div class="container">
    <div class="content">

      <section class="home-intro">
        <div class="home-intro__blurb">
          <p>Velocity helps you test Meteor apps using any framework you like</p>
          <a href="" class="btn btn--primary btn__icon">Start</a>
        </div>

        <div class="home-intro__quickstart">
          <div class="quickstart-section">
            <h2>Quick Start</h2>

            <ul class="numbered">
              <li>Add velocity to your application</li>
              <pre>
                 <code>meteor add xolvio:velocity</code>
              </pre>
              <li>Pour yourself a coffee</li>
              <li>Go read the <a href="" class="btn--text">Guides</a></li>
            </ul>
          </div>

          <div class="quickstart-section">
            
          </div>      
        </div>
      </section>

    </div>
  </div>

  <!-- Framework Nav -->
  {{> frameworkNav }}

  <!-- Alert bar -->
  {{> alertBar}}

  <!-- Framework sections -->
  {{> gettingStarted}}

  <!-- Ecosystem -->
  {{> ecosystem}}

  <!-- Footer -->
  {{> footer}}

</template>
