<template name="home">

  <!-- Intro section -->
  <div class="container">
    <div class="content">

      <section class="home-intro">
        <div class="home-intro__blurb">
          <p>Velocity is an ecosystem of testing tools for your Meteor apps</p>
        </div>

        <div class="home-intro__quickstart">
          
          <div class="home-intro__section">
            <h2 class="light border upcase">Quick Start</h2>

            <ol class="default-ol">
              <li><span class="ol-number">1</span>Add Jasmine to your application</li>
              <pre>
                 <code>meteor add sanjo:jasmine</code>
              </pre>
              <li><span class="ol-number">2</span>Pour yourself a coffee</li>
              <li><span class="ol-number">3</span>Go read the <a href="" class="btn--text">Guides</a></li>
            </ol>
          </div>

          <div class="home-intro__section last">
            <img src="images/browser_frame.png" alt="Browser frame">
          </div>
        </div>
      </section>

    </div>
  </div>

  <!-- Framework Nav -->
  {{> frameworkNav }}

  <!-- Alert bar -->
  {{> alertBar}}

  <!-- Framework sections -->
  {{> gettingStarted}}

  <!-- Ecosystem -->
  {{> ecosystem}}

  <!-- Footer -->
  {{> footer}}

</template>
