<template name="defaultContent">

<h2>Description</h2>
{{# section name="gettingStarted__description"}}
{{#markdown}}
This framework has not set a description.
{{/markdown}}
{{/section}}

<h2>Installation</h2>
{{# section name="gettingStarted__installation"}}
{{#markdown}}
This framework has not set a installation guide.
{{/markdown}}
{{/section}}

<h2>Testing Packages</h2>
{{#section name="gettingStarted__package"}}
{{#markdown}}
Package testing is not supported by this framework.
{{/markdown}}
{{/section}}

<h2>CI</h2>
{{#section name="gettingStarted__ci"}}
{{#markdown}}
`meteor --test --release velocity:METEOR@1.1.0.2_3`
{{/markdown}}
{{/section}}

<h2>Troubleshooting</h2>
{{#section name="gettingStarted__troubleshooting"}}
{{#markdown}}
Each test mode (except server unit mode) creates a log file in the folder `.meteor/local/log/`.

If something is not working you should have a look in the log file first. If you need help, look
for an existing GitHub issue that describes your problem on the
[velocity](https://github.com/meteor-velocity/velocity/issues) repository. If you can't find your
issue, create a new one.
{{/markdown}}
{{/section}}

<h2>Learning More</h2>
{{#section name="gettingStarted__learning"}}
{{#markdown}}
Sam and Jonas have written an excellent book on how to test Meteor apps.
It goes into the details of how to mock users, etc. etc. (SAM/JONAS TO FILL IN)
[![](http://www.meteortesting.com/img/tmtm.gif)](http://www.meteortesting.com/?utm_source=Velocity&utm_medium=user-guide&utm_campaign=user-guide)
{{/markdown}}
{{/section}}

</template>