<template name="frameworkNav">
  <section class="framework-nav">
    <div class="container">

      <div class="framework-nav__wrap">
        <ul class="nav-list">
          <li class="nav-list__item"><a href="#" class="js-framework-switch" data-framework="jasmine">Jasmine</a></li>
          <li class="nav-list__item"><a href="#" class="js-framework-switch" data-framework="mocha">Mocha</a></li>
          <li class="nav-list__item"><a href="#" class="js-framework-switch" data-framework="cucumber">Cucumber</a></li>
          <li class="nav-list__item"><a href="#" class="js-framework-switch" data-framework="casperjs">Casper</a></li>
          <li class="nav-list__item"><a href="#" class="js-framework-switch" data-framework="robot">Robot</a></li>
        </ul>
      </div>

    </div>
  </section>
</template>
