%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-background;
  border-radius: $border-radius;
  color: $base-button-color;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: regular;
  line-height: em(36);
  padding: 0 1em;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid $primary;
  &:hover {
    background-color: $hover-button-color;
    color: $base-button-color;
  }

  > .btn__icon {
    display: inline-block;
    vertical-align: middle;
    width: em(30);
    text-align: center;
  }
}

.btn {
  @extend %button;
}

%btn--light {
  border: none;

  &:hover {
    color: #fff;
  }
}

.btn--primary {
  @extend .btn;
  @include primaryGradient;
  
  &:hover {
    background: darken($lightgreen, 10%);
  }
}

.btn--text {
  color: $base-font-color;
  border-bottom: $base-border;
}

.btn--hollow {
  background: none;
  border-radius: $border-radius;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    color: $purple;
  }
}
