<template name="header">

  <header class="site-header">
    <div class="container">
      <div class="site-header__wrap">

        <div class="site-header__logo">
          <h1><a href="{{ pathFor 'home' }}">Velocity</a></h1>
        </div>

        <div class="site-header__nav">
          <ul class="nav-list">
            <li class="nav-list__item"><a href="/">Home</a></li>
            <li class="nav-list__item"><a href="/blog">Blog</a></li>
            <li class="nav-list__item"><a href="/contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>
  </header>

</template>
