// Setup
$grid-columns: 12 !global;
$column: modular-scale(1, 6.750em, $golden) !global;
$gutter: modular-scale(1, 1em, $golden) !global;
$max-width: em(1064) !global;
$border-box-sizing: true !global;

// Breakpoints
$mobile: new-breakpoint(max-width 32em 4);
$tablet: new-breakpoint(min-width 32em max-width 64em 8);
$desktop: new-breakpoint(min-width 100em 8);

// Debug
/* * { outline: 1px solid red; }
 */
// Layout

.container {
  @include outer-container;
}

.content {
  @include clearfix();
  @include span-columns(12);
  @include pad(0 2em);

  @include media($mobile) {
    @include span-columns(4);
    @include pad(0 1em);
  }
}

// Header
.site-header {
  width: 100%;
}

.site-header__wrap {
  @include clearfix();
  @include span-columns(10);
}

.site-header__logo {
  @include span-columns(3.25 of 10);
  float: left;
}

.site-header__nav {
  @include span-columns(3 of 10);
  float: right;
}

// Footer
.site-footer {
  padding-top:15px;

  @include clearfix();

  @include media($mobile) {
    .site-footer__section {
      @include mobileReset();
    }
  }
}

.site-footer__section {
  @include span-columns(3 of 10);

  &.last {
    @include shift(7);
  }

  @include media($mobile) {
    @include mobileReset();

    &.last {
      @include mobileReset();
    }
  }
}

// Home
.home-intro {
  @include span-columns(12);
}

.home-intro__blurb {
  @include clearfix();
  @include span-columns(6);
  @include shift(3);
}

.home-intro__quickstart {
  @include span-columns(10);
  @include shift(1);
}

.home-intro__section {
  @include span-columns(4 of 10);

  &.last {
    @include span-columns(5 of 10);
    @include shift(1);
  }

  @include media($mobile) {
    @include mobileReset();

    &.last {
      @include mobileReset();
    }
  }
}

// Framework nav
.framework-nav {
  @include clearfix();
  width: 100%;
}

.framework-nav__wrap {
  @include span-columns(6);
  @include shift(3);

  @include media($mobile) {
    @include mobileReset();
  }
}

// Content
.content {
  @include span-columns(12);
}

.content-header {
  @include span-columns(12);
}

.sidebar {
  @include clearfix();
  @include span-columns(4 of 12);
}

.content-area {
  @include clearfix();
  @include span-columns(12 of 12);
}

.feature-text {
  @include span-columns(6);
  @include shift(3);
}

.content-section {
  @include media($mobile) {
    @include mobileReset();
  }
}

// Framework box
.feature-box {
  @include clearfix();
}

.feature-box__wrap {
  @include span-columns(10);
  @include shift(1);

  @include media($mobile) {
    @include mobileReset();
  }
}

.feature-box__item {
  @include span-columns(2.5 of 10);

  @include media($mobile) {
    @include mobileReset();
  }
}

// Alert bar
.alert-bar__wrap {
  @include span-columns(10);
  @include shift(1);
  @include display(flex);
}
